<section class="landing-image">
<div class="container" class="row">
<div class="small-12 small-centered large-12 large-centered columns text-center">
<img src="img/cloud_k.jpg" alt="KinetiKloud" class="small-centered large-centered"></img>
</div>
</div>
</section>


<section class="examples">
<div class="row">
<h> What KinetiKloud can do for you. </h>
</div>
</section>


<section id="main">
<div class="row">
<div class = "small-12 small-centered large-12 large-centered columns text-center">
<button> Contact us </button>
</div>
</div>
</section>


