<html>

<section class="landing-image">
<div class="container" class="row">
<div class="small-12 small-centered large-12 large-centered columns text-center">
<img src="img/cloud_k_edit.jpg" alt="KinetiKloud" class="small-centered large-centered"></img>
</div>
</div>
</section>

<section id="main">
	<h2 class="text-center">What is KinetiKloud?</h2>

	<div class="fakerow">
		<div class="small-block-grid-2" id="list2">
			<li> 
				<ol>
					<li><p><em>Track exercise and rehabilitation equipment</em></p></li>
					<li><p><em>Gather data for analytics</em></p></li>
					<li><p><em>Make informed decisions</em></p></li>
				</ol>
			</li>
			<li>
				<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/jF26kN1NIVI" frameborder="0" allowfullscreen></iframe>  -->
				<iframe class="imgur-embed" width="599px" height="282px" frameborder="0" src="https://i.imgur.com/cUr30K8.gifv#embed"></iframe>
			</li>
		</div>

	</div>

	<h2 class="text-center" style="font-size: 30px; font-style: italic;">KinetiKloud demo videos coming soon</h2>
	<div class="fakerow">
		<div class="large-block-grid-2" id="ytvids">
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/GaBCCVeSbRc" frameborder="0" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/C5CzI49Rf-0" frameborder="0" allowfullscreen></iframe>
			</li>
		</div>
	</div>
</section>

<section id="about">
	<h2 class="text-center">About the team</h2>
	<div class="row">
		<ul class="medium-block-grid-4">
			<li>
				<figure>
					<img class="profile" src="img/profiles/christina.jpg" alt="Christina Chan" class="small-centered large-centered"></img>
					<figcaption class="text-center">
						<div class="flname">Christina Chan</div>
						<div class="role">Hardware engineer</div>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img class="profile" src="img/profiles/grant.jpg" alt="Grant Nicholas" class="small-centered large-centered"></img>
					<figcaption class="text-center">
						<div class="flname">Grant Nicholas</div>
						<div class="role">Software engineer</div>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img class="profile" src="img/profiles/andy.jpg" alt="Andy Nwaelele" class="small-centered large-centered"></img>
					<figcaption class="text-center">
						<div class="flname">Andy Nwaelele</div>
						<div class="role">Systems engineer</div>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img class="profile" src="img/profiles/alisa.jpg" alt="Alisa White" class="small-centered large-centered"></img>
					<figcaption class="text-center">
						<div class="flname">Alisa White</div>
						<div class="role">Hardware engineer</div>
					</figcaption>
				</figure>
			</li>
		</ul>
	</div>
</section>


<section id="contact">
	<div class="row">
		<h3 class="text-center">Give us your feedback</h3>
		<form action="/mail" method="post">
		Email: <input type="text" name="email"><br>
		Name: <input type="text" name="name"><br>
		Thoughts: <textarea rows="5" cols="30" name="comments"></textarea>
		<input class="button" type="submit" value="Submit">
		</form>
	</div>
		
</section>


</html>