<html>

<section class="landing-image">
<div class="container" class="row">
<div class="small-12 small-centered large-12 large-centered columns text-center">
<img src="img/cloud_k.jpg" alt="KinetiKloud" class="small-centered large-centered"></img>
</div>
</div>
</section>


<section class="examples">
<div class="row">

</div>
</section>


<section id="main">

</section>



</html>