<html>

<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/js/chartkick.js"></script>
  <script type="text/javascript" src="/js/barchart.js"></script>
  <script type="text/javascript" src="/js/foundation.min.js"></script>
  <script type="text/javascript" src="/js/foundation/foundation.dropdown.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['table']}]}"></script>

  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">KinetiKloud</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/machines">Machine usage</a></li>
      <li class="has-dropdown"><a href="/login" id="login-logout">Login/Logout</a>
    </ul>

    <!-- Left Nav Section -->
<!--     <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>
</div>

<div id="main-wrapper">
  <%= yield %>
</div>

<script type="text/javascript">
  $(document).foundation();
</script>

</body>
</html>