<html>

<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="js/barchart.js"></script>
  <script type="text/javascript" src="js/foundation.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/index.css">
</head>


<div id="main-wrapper">
  <%= yield %>
</div>


</html>