<h4>All Models</h4>
<ul>
<% @models.each do |model| %>
	<li>
		<%= model.time %>
	</li>
	<li>
		<%= model.xdata %>
	</li>
	<li>
		<%= model.ydata %>
	</li>
	<li>
		<%= model.zdata %>
	</li>
<% end %>
</ul>
<a href="/">Back to Home</a>