<h3>Welcome to Sinatra!</h3>
<form action="/process" method="POST" enctype="multipart/form-data">
	<input type="file" name="file" value="Enter filepath" />
	<input type="text" name="model[type]" value="Enter type of machine" />
	<input type="text" name="model[date]" value="Enter date of collection" />
	<input type="submit" value="Submit" />
</form>