/*
Override foundation styles
*/
/*.row{
	max-width: 80rem !important;
}*/
.fakerow{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 80rem;
}

#about{
	background-color: #27272B;
	min-height: 70%;
}

#main{
	background-color: #88ccff;
	min-height: 50%;
}
 
.ol >li{
	color: white;
	font-weight: bold;
	font-size: 30px;
	-webkit-text-stroke: 1px black;
}

/* LIST #2 */
#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;  }
#list2 ol li { }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:26px; color:#eee; border-left: 1px solid #999; }
#list2 ol li p em { display:block; }

.landing-image{
	background-color: #0099FF;
}

.display{
	background-color: #27272B;
	min-height: 20%;
}

#contact{
	min-height: 50%;
}

body{
	height: auto;
}

h1 {
	font-size: 150px;
	color: white;
}

h2 {
/*	-webkit-text-stroke: 1px black;*/
	font-size: 50px;
	color: white;
	padding-top: 2%;
}

h3 {
	font-size: 50px;
	color: black;
}

.highlight-it img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.highlight-it:hover img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}


.tint {
	position: relative;
	float: left;
	cursor: pointer;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: none;
/*	background: rgba(0, 153, 255, 0.5);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;*/
}

.tint:hover:before {
	/*background: none;*/
	background: rgba(0, 153, 255, 0.5);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.button-login{
	margin-top: 5px;
	width: 100%;
}

.google-visualization-table-table{
	min-width: 100%;
}

.profile{
	margin-top: 25%;
	margin-bottom: 25%;
	border-radius: 100px;
}

figcaption{
	color: white;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

figcaption > div.flname{
	font-size: inherit;
}
figcaption > div.role{
	font-size: 13px;
}

.sticky{
	position: fixed;
	z-index: 2;
}

.button-login{
	margin-top: 8%;
}

/*#ytvids > li{
	margin-left: 1%;
	margin-right: 1%;
}
*/